.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      margin-top: 8px;
      width: 38px;
      height: 46px;
      padding-right: 3px;
    }
  
    .item-count {
      position: absolute;
      font-size: 15px;
      font-weight: bolder;
    }
  }
  